.container {
    width:100%;
    border:1px solid #d3d3d3;
}
.container div {
    width:100%;
}
.container .header {
    background-color:#d3d3d3;
    padding: 2px;
    cursor: pointer;
    font-weight: bold;
}
.container .content {
    display: none;
    padding : 5px;
}

a {
  color: #196CD1;
  text-decoration: none;
}

a:focus,
a:hover,
author:focus,
author:hover {
  color: #B908C5;
  }

body,
td,
th,
tr{
  /* font-family: 'Lato', Verdana, Arial, sans-serif; */
  font-family: 'Lato', Arial, sans-serif;
  font-size: 16px;
  color: #404040;
  line-height: 1.5;
}

p{
  font-family: 'Lato', Arial, sans-serif;
  font-size: 16px;
  color: #404040;
  margin:0;
  line-height: 1.5;
}

papertext,
author{
  font-family: 'Lato', Arial, sans-serif;
  font-size: 16px;
  color: #777777;
  line-height: 1.1;
}

a{
  font-family: 'Lato', Arial, sans-serif;
  font-size: 16px;
}

strong {
  font-family: 'Lato', Arial, sans-serif;
  font-size: 16px;
  color: #333333;
}

heading{
  font-family: 'Lato', Arial, sans-serif;
  font-size: 22px;
  color: #333333;
}

talktitle,
papertitle {
  font-family: 'Lato', Arial, sans-serif;
  font-size: 16px;
  font-weight: 900;
  color: #333333;
  line-height: 1.5;
}

name {
  font-family: 'Lato', Arial, sans-serif;
  font-size: 36px;
  color: #333333;
  line-height: 1.8;
}

.image-container {
  text-align: center; 
}

.one {
  width: 160px;
  height: 160px;
  position: relative;
}

.two {
  width: 160px;
  height: 160px;
  position: absolute;
  transition: opacity .2s ease-in-out;
  -moz-transition: opacity .2s ease-in-out;
  -webkit-transition: opacity .2s ease-in-out;
}

.fade {
  transition: opacity .2s ease-in-out;
  -moz-transition: opacity .2s ease-in-out;
  -webkit-transition: opacity .2s ease-in-out;
}

span.highlight {
  background-color: #ffffd0;
}
table {
  width: 800px;
  border: 0;
  align: center;
  cellspacing: 0;
  cellpadding: 0;
  border-collapse: collapse; 
}
h2{
  font-family: 'Lato', Arial, sans-serif;
  font-size: 24px;
  margin:0;
  color: #333333;
}


h3{
  font-family: 'Lato', Arial, sans-serif;
  font-size: 18px;
  color: #333333;
}

h4{
  font-family: 'Lato', Arial, sans-serif;
  font-size: 18px;
  margin:0;
  color: #333333;
}

ul {
  margin: 0;
}
